## Import Libraries

In [29]:
import pandas as pd
import nltk
from nltk.corpus import stopwords
import re
import string
from nltk import word_tokenize, FreqDist

## Create List of Stopwords

In [10]:
stopwords_list = stopwords.words('english')
stopwords_list += string.punctuation
stopwords_list += ["/n","''", '""', '...', '``']

## Create Function to Tokenize, Remove Stopwords, Make Lower Case

In [76]:
def process_tweet(tweet):
    
    ## Remove "@username" from each Tweet
    pattern = '(\w*@\w*)'
    p = re.compile(pattern)
    tweet = p.sub('',tweet)
    
    ## Tokenize tweet
    tokens = nltk.word_tokenize(tweet)
    
    ## Retain only words that are not in the Stopwords list
    stopwords_removed = [token.lower() for token in tokens if token.lower() not in stopwords_list]
    return stopwords_removed

##¬†Import Data

In [15]:
df = pd.read_excel('unlabelled_data.xlsx')

In [70]:
df.isna().sum()

Unnamed: 0          0
Mobile Network      0
Tweet Created At    0
Tweet Text          1
dtype: int64

In [71]:
df.dropna(inplace=True)

In [72]:
df.isna().sum()

Unnamed: 0          0
Mobile Network      0
Tweet Created At    0
Tweet Text          0
dtype: int64

## Tokenize All Tweets

In [77]:
tokenized_tweets = []

for key, tweet in enumerate(list(df['Tweet Text'])):
    
    tokenized_tweets.append(process_tweet(tweet))

In [74]:
len(tokenized_tweets)

16144

In [79]:
tokenized_tweets[6]

['world',
 'without',
 'limits',
 'feels',
 'like',
 'world',
 'without',
 'coverage',
 'ü§¶\u200d‚ôÇÔ∏è',
 'impossible',
 'get',
 'reliable',
 'voice',
 'data',
 'connection',
 'mainline',
 'route',
 'london',
 'waterloo',
 'signal',
 'poor',
 '‚Äô',
 '2019',
 '1992',
 'üò∂']